node_modules
.DS_Store
coverage
.git
dist
site-dist
.idea
es
dist
converage
lib
packages/**/dist
packages/**/node_modules
.dumi
packages/api/src/api
**/dist
**/**/dist
**/**/.DS_Store
packages/api/src/.DS_Store
