{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "preserve"
			}
		}
	]
}
